# Dependency directory
/node_modules

# WebStorm project data
/.idea

# Nodeclipse project data
/.settings
/.project

# Temporary runtime files
/build
/cache
/data
/log
/tmp
/dist/*

# Project and core development files
/Dockerfile
/bin
/app
/config
/core/_old