[submodule "wiki"]
	path = wiki
	url = https://git.novetica.org/ljve-io/wiki.git
[submodule "external/node-inspector"]
	path = external/node-inspector
	url = https://github.com/marcominetti/node-inspector.git
[submodule "external/node-console"]
	path = external/node-console
	url = https://github.com/marcominetti/node-console.git
[submodule "external/node-brackets"]
	path = external/node-brackets
	url = https://github.com/marcominetti/node-brackets.git
[submodule "external/esprima"]
	path = external/esprima
	url = https://github.com/marcominetti/esprima.git
