[submodule "wiki"]
	path = wiki
	url = https://github.com/marcominetti/ljve.io.wiki.git
[submodule "external/node-inspector"]
	path = external/node-inspector
	url = https://github.com/marcominetti/node-inspector.git
[submodule "external/node-console"]
	path = external/node-console
	url = https://github.com/marcominetti/node-console.git
