# Dependency directory
/node_modules

# WebStorm project data
/.idea

# Nodeclipse project data
/.settings
/.project

# Git and CI related data
/.coveralls.yml
/.codeclimate.yml
/.jshintrc
/.jsdocrc
/.jscsrc
/.gitmodules
/.travis.yml
/.npmignore
/Dockerfile

# Temporary runtime files
/build
/cache
/data
/log
/tmp

# Project and core development files
/bin
/app
/config
/core/_old
_*
/project
